<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kosmo.styletheme08">
    <!--원래 테마:android:theme="@style/Theme.StyleTheme08"-->
    <!--타이틀바 없애기:@style/Theme.AppCompat.NoActionBar-->
    <!--내가만든 테마 적용  android:theme="@style/ThemeMadeByMe"
        앱의 배경색  변경시 activity_main.xml에서 가장 바깥의 레이아웃에
        아래 속성 추가
        예:android:background="#ffffff"
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeMadeByMe">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>