<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kosmo.googlemap36">
    <!--구글맵을 사용하기위한 설정 즉 인터넷으로 지도를 가져오게 됨으로 인터넷 접속권한 및 GPS 사용시 GPS위치정보 확인 권한 필요등-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoogleMap36">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAUq6tB1mLUCKJwvq2F0BQoU0UBU0l9Pw4"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>